<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DEC112-API services</title>

	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="DEC112 API services">
    <meta name="author" content="Richard Prinz">

    <link type="text/css" href="assets/css/app.css" rel="stylesheet">
	<script type="text/javascript" charset="utf8" src="assets/js/app.js"></script>
</head>
<body style="background-color:lightgray;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-centered" style="background-color:white;padding:15px;margin-top:20px;">
                <div style="text-align:center;">
                    <img src="assets/images/dec112-text-long.jpg" width="280" height="280">
                    <p/>
                    <%=verify_page_ok%>
                    <p/>
                    <button type="button" class="btn btn-danger" style="width:280px"
                        onclick="window.location.href = 'http://www.dec112.at'">
                        DEC112
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
